@import "tailwindcss";

/*  
      sm: @media (min-width: 640px)
      md: @media (min-width: 768px)
      lg: @media (min-width: 1024px)
      xl: @media (min-width: 1280px)
      2xl: @media (min-width: 1536px) 
*/

@theme {
  /* Primary Colors */
  --color-primary: #6366f1; /* Main action buttons, active navigation items, links, */
  --color-primary-hv: #8b5cf6; /* Hover states */

  /* Background Colors */
  --color-main-bg: #f0f2f5; /* Main page background on all pages */

  /* Text Colors */
  --color-main-text: #111827; /* Primary text (usernames, post content, main labels) */
  --color-sec-text: #6b7280; /* Secondary text (timestamps, helper text, meta information) */

  /* UI Elements */
  --color-light-border: #e5e7eb; /* All borders (input fields, cards, dividers, tabs) */
  --color-nav-icon: #9ca3af; /* Inactive icons in navigation */
  --color-btn-hv: #4f46e5; /* Button hover states */
}

@layer components {
  .linear,
  .linear-primary {
    @apply bg-linear-to-r from-primary to-primary-hv;
  }
  .form-container {
    @apply bg-white flex flex-col justify-center container gap-5 mx-auto rounded-xl p-5 md:p-10 w-4/5 sm:w-2/3 md:w-3/5 lg:w-4/10 xl:w-3/9;
  }
  .form-title {
    @apply text-main-text text-2xl font-bold;
  }
  .input {
    @apply bg-main-bg py-2 border-2 border-light-border rounded-lg pl-2 focus:outline-none;
  }
  .svg {
    @apply w-5 h-5 mr-1;
  }
  .active {
    @apply border-b-2 border-primary text-primary;
  }
  .nav-link {
    @apply duration-300 transition-all text-lg hover:border-b-2   hover:text-primary  flex items-center justify-center px-5 h-[72px] text-[18px];
  }
  .menu-link {
    @apply text-main-text hover:bg-main-bg duration-300 transition-all  gap-3 py-2 px-8 xl:px-4 rounded-lg cursor-pointer flex items-center xl:justify-start justify-center;
  }

  .burger-menu-link {
    @apply block rounded-md  px-3 py-2 mb-2 text-base font-medium text-sec-text hover:bg-primary-hv hover:text-white focus:bg-primary focus:text-white duration-300;
  }
}
@layer utilities {
  input:focus::placeholder,
  textarea:focus::placeholder {
    opacity: 0;
    transition: 0.4s;
  }
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f2f5;
}
