@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-primary: #6366f1; /* Main action buttons, active navigation items, links, */
  --color-primary-hv: #8b5cf6; /* Hover states */

  /* Background Colors */
  --color-main-bg: #f9fafb; /* Main page background on all pages */

  /* Text Colors */
  --color-main-text: #111827; /* Primary text (usernames, post content, main labels) */
  --color-sec-text: #6b7280; /* Secondary text (timestamps, helper text, meta information) */

  /* UI Elements */
  --color-light-border: #e5e7eb; /* All borders (input fields, cards, dividers, tabs) */
  --color-nav-icon: #9ca3af; /* Inactive icons in navigation */
  --color-btn-hv: #4f46e5; /* Button hover states */
}
@layer components {
  .linear {
    @apply bg-linear-to-r from-primary to-primary-hv
  }
  .input {
    @apply bg-main-bg py-2 border-2 border-light-border rounded-lg pl-1 focus:outline-none;
  }
}
@layer utilities {
  input:focus::placeholder {
    opacity: 0;
    transition: 0.4s;
  }
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #4f46e5; */
}
